extends layout

block content
  div.box.sign-in
    h1= title
    p Welcome to Simple Chat
    div
      input.username(type="text", name="username")
    div 
      input.password(type="text", name="password")
    div
      input.signin(type="button", value="Sign In")

  script(src="javascripts/index.js")