extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    div
      input.username(type="text", name="username")
    div 
      input.password(type="text", name="password")
    div
      input.signin(type="button", value="Sign In")

  script(src="javascripts/index.js")